:root {
	--ab-deactivate-container-background-color: #ecf0f1;
	--ab-deactivate-select-background-color: ghostwhite;
	--ab-deactivate-select-heading-color: #717686;
	--ab-deactivate-select-list-color: #db5757;
	--ab-deactivate-select-list-color-hover: #ffffff;
	--ab-deactivate-select-list-background-color-hover: #db5757;
	--ab-deactivate-instruction-heading-color: #db5757;
	--ab-deactivate-instruction-line-color: #db5757;
	--ab-deactivate-instruction-text-color: #db5757;
	--ab-deactivate-instruction-button-color: #db5757;
	--ab-deactivate-instruction-button-background-color: #ffffff;
	--ab-deactivate-instruction-button-border-color: ##ecf0f1;
}

html {
	font-family: sans-serif;
	font-size: 16px;
}

div.ab_deactivate_container {
	padding: 0;
	margin: 0;
	background-color: var(--ab-deactivate-container-background-color);
}

.ab_deactivate_container {
	width: 870px;
    height: 295px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
	position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.298039) 0px 0px 50px;
}

.ab_deactivate_select {
	display: flex;
    background-color: var(--ab-deactivate-select-background-color);
    padding: 20px 0 20px 20px;
	width: 220px;
    margin-right: 0;
	min-height: 170px;
}

.ab_deactivate_select h3 {
	position: absolute;
	font-size: 17px;
    font-weight: 500;
    color: var(--ab-deactivate-select-heading-color);
    margin-top: 0px;
    text-align: center;
    padding-right: 20px;
	max-height: 10px;
	width: 200px;
}

.ab_deactivate_select ol { 
    float: none; 
    padding-left: 0px;
    list-style-type: none;
	margin-top: 30px;
    overflow: auto;
    max-width: 500px;
}

.ab_deactivate_select ol li {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: none;
    margin-right: 0;
    width: 200px;
    color: var(--ab-deactivate-select-list-color);
    padding: 8px 10px 7px;
    vertical-align: middle;
	cursor: pointer;
	transition: all 200ms;
}

.ab_deactivate_select ol li:hover {
	background-color: var(--ab-deactivate-select-list-background-color-hover);
	color: var(--ab-deactivate-select-list-color-hover);
	border-radius: 5px;
}

.ab_deactivate_select ol li img {
	height: 24px;
    display: inline-block;
    margin-right: 10px;
	margin: 5px;
    vertical-align: middle;
}

.ab_deactivate_select ol li span {
	display: inline-block;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.ab_deactivate_instruction {
	padding: 30px;
	width: 350px;
}

.ab_deactivate_instruction h1 {
	text-align: center;
	color: var(--ab-deactivate-instruction-heading-color);
}

.ab_deactivate_instruction hr {
	border: 2.5px solid var(--ab-deactivate-instruction-line-color);
	margin: auto -30px;
}

.ab_deactivate_instruction p {
	text-align: center;
	line-height: 1.5;
	font-size: 1.3rem;
	font-weight: bold;
	color: var(--ab-deactivate-instruction-text-color);
}

.ab_deactivate_instruction button,
.ab_deactivate_instruction button:active,
.ab_deactivate_instruction button:focus,
.ab_deactivate_instruction button:active:focus {
	background-color: var(--ab-deactivate-instruction-button-background-color);
    border: 1px solid var(--ab-deactivate-instruction-button-border-color);
	border-radius: 3px;
    color: var(--ab-deactivate-instruction-button-color);
	padding: 6px 7px 6px 12px;
    outline: 0 none;
    margin-left: 0px;
	letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
	margin-left: 140px;
	margin-right: 140px;
}

.ab_deactivate_instruction button:hover {
	background-color: #ecf0f1;
}

.ab_deactivate_instruction_video {
	position: absolute;
    top: 0;
    right: 0;
    width: 223px;
    height: 295px;
	max-width: 250px;
    max-height: 295px;
    width: auto;
    height: auto;
    float: right;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}